#form {
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  width: 100%;
}

#form-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  margin: auto;
  padding: 20px 0;
  min-height: calc(100vh - var(--header-size) - 20px);
  height: 100%;
}

#form .btn-small {
  border-radius: 20px;
  padding: 10px 30px;
}

#form .btn-small.form-cancel {
  color: white;
}

#form-create input {
  background-color: var(--color-input-light);
  color: var(--color-dark);
  font-size: 1em;
  text-align: center;
}

#form-create textarea {
  margin: auto;
  max-height: 400px;
  max-width: 80vw;
  min-height: 200px;
  min-width: 40vw;
  text-align: center;
  background-color: var(--color-input-light);
  color: var(--color-dark);
}

.darktheme #form {
  /* background-color: var(--bg-dark); */
  color: var(--color-light);
}

.darktheme #form-create input {
  background-color: var(--color-input-dark);
  color: var(--color-light);
}

.darktheme #form-create textarea {
  background-color: var(--color-input-dark);
  color: var(--color-light);
}

#form-create #title {
  padding: 10px 0;
}

#input-date-picker {
  border-radius: 20px;
  padding: 4px 20px;
  margin: 10px 0;
  border: outset rgb(242, 199, 135) 2px;
}

.darktheme #input-date-picker {
  border: outset white 2px;
}

.form-title {
  font-size: 1.3rem;
  text-align: center;
  margin: 40px auto;
  position: relative;
  width: fit-content;
}

.form-title::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 30%;
  height: 100%;
  border-bottom: solid var(--dark) 2px;
}

.form-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0%;
  width: 30%;
  height: 100%;
  border-bottom: solid var(--dark) 2px;
}

.darktheme .form-title::after {
  border-bottom: solid rgba(255, 255, 255, 0.402) 2px;
}

.darktheme .form-title::before {
  border-bottom: solid rgba(255, 255, 255, 0.402) 2px;
}

.form-input {
  padding: 6px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.complete-div {
  margin-top: 10px;
}

.form-edit.btn-small {
  margin-left: 10px;
  background: var(--color-success);
  border: outset rgb(242, 199, 135) 2px;
}

.form-cancel.btn-small {
  background: var(--color-danger);
  border: outset rgb(242, 199, 135) 2px;
}

.form-input-button {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

#range-important {
  cursor: pointer;
  width: 100%;
  display: flex;
}

#range-important .importance::after {
  content: "❄";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translate(0, -1px);
}

#range-important .importance {
  position: relative;
  margin: 0;
  margin-left: 6px;
}
