.btn {
  background: none;
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--light);
  color: var(--dark);
  font-weight: bold;
  border: outset black 2px;
  cursor: pointer;
  transition: all 50ms linear;
}
.btn:hover {
  transform: scale(1.02);
}

.darkTheme .btn {
  border: none;
  color: var(--light);
  background-color: var(--dark);
}

.noMargin {
  margin: 0;
}

.noInput {
  background: none;
  border: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
