@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

.btn {
  cursor: pointer;
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

.main-btn {
  margin: 10px;
  transition: all 50ms linear;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--main-button-light);
  color: var(--color-dark);
}

.darktheme .main-btn {
  color: var(--color-light);
  background-color: var(--main-button-dark);
}

.btn-big {
  padding: 10px 20px;
}

.btn-small {
  margin: 0 2px;
  padding: 2px 6px;
  color: var(--color-dark);
  font-size: 20px;
  border: solid rgb(242, 199, 135) 1px;
  background-color: var(--light);
}

.darktheme .btn-small {
  border: solid grey 1px;
  color: var(--color-light);
  background-color: var(--dark);
}

.btn.animated {
  position: relative;
  z-index: 0;
}

.btn.animated::before {
  position: absolute;
  content: "";
  background-color: var(--hover-light);
  z-index: -1;
}

.darktheme .btn.animated::before {
  background-color: var(--hover-dark);
}

.btn.animated:hover::before {
  animation: border-animation 0.2s linear 0s forwards;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-input {
  background: none;
  border: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-not-so-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 10%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  position: relative;
  margin: 10px 0;
  margin-right: 30px;
  margin-left: 5px;
}

.checkbox-round:checked {
  background-color: rgb(17, 196, 4) !important;
}

.checkbox-not-so-round:checked {
  background-color: rgb(17, 196, 4) !important;
}

.checkbox-not-so-round:checked::after {
  content: "✓";
  color: rgb(232, 232, 232);
  font-weight: bold;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.text-center {
  text-align: center;
}

.is-hidden {
  animation: slide-fade-out 0.2s linear forwards;
}

.is-visible {
  animation: slide-fade-in 0.2s linear forwards;
}

button,
textarea,
input,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}