.headerButtons_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.btn.animated::before {
  background-color: rgba(255, 255, 255, 0.454);
}

.darkTheme .btn.animated::before {
  background-color: rgba(0, 0, 0, 0.285);
}

#headerButtons .toggle {
  display: flex;
  margin: 20px 0;
}
#headerButtons .main {
  margin: 0 5px;
}

#headerButtons .btn_small {
  padding: 10px 20px;
  font-size: 0.9rem;
  border-radius: 100px;
}

#createNewTask {
  font-weight: bold;
  border-radius: 10px;
  letter-spacing: 6px;
  padding: 10px 60px;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.darkTheme #createNewTask {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

#completed_filter {
  color: rgb(51, 183, 51);
  transition: all 0.3s ease-in-out;
  margin: 10px 0;
  padding: 4px 10px;
}
#completed_filter.hide {
  color: rgb(218, 9, 9);
}

#headerButtons #toggleFilterDiv {
  transition: all 0.3s linear;
  width: 75px;
  height: 71px;
}
#headerButtons #completed_filter {
  width: 75px;
  height: 71px;
}

#toggleFilterDiv::after {
  display: inline-block;
  content: "⮛";
}

#toggleFilterDiv:hover,
#completed_filter:hover {
  background-color: var(--hover-light);
}

#completed_filter:hover {
  transform: scale(1.3);
}

.darkTheme #toggleFilterDiv:hover {
  background-color: var(--hover-dark);
}
.darkTheme #completed_filter:hover {
  background-color: var(--hover-dark);
}

#toggleFilterDiv.show::after {
  content: "◭";
}

#toggleFilterDiv:hover::after {
  transform: translateY(2px);
}

#toggleFilterDiv.show:hover::after {
  transform: translateY(-2px);
}

.filterWrapper {
  text-align: center;
  width: 100%;
  padding: 20px 0;
}

.rubrikTag {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: var(--light);
}

.filterButtonsDiv {
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  margin: 0;
  padding: 0;
}
.filterButtonsDiv.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}

.filterButtonsDiv .__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0px 0 20px;
  padding: 20px;
}

.filterButtonsDiv .btn_small {
  padding: 6px 9px;
  margin: 5px 5px;
  flex-wrap: nowrap;
  box-shadow: white 1px 1px 4px;
  white-space: nowrap;
  border-radius: 5px;
}

.filter {
  position: relative;
}

.filter::after {
  content: "⇫";
  display: none;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.activeFilter_0 {
  box-shadow: rgb(242, 199, 135) 1px -3px 6px !important;
}

.activeFilter_1 {
  box-shadow: rgb(242, 199, 135) 1px 3px 6px !important;
}

.darkTheme .activeFilter_0 {
  box-shadow: rgb(54, 255, 4) 1px -3px 6px !important;
}

.darkTheme .activeFilter_1 {
  box-shadow: rgb(54, 255, 4) 1px 3px 6px !important;
}

.activeFilter_0::after {
  display: inline-block;
  opacity: 1;
  transform: rotate(0deg);
}
.activeFilter_1::after {
  display: inline-block;
  opacity: 1;
  transform: rotate(-180deg);
}

@media (min-width: 420px) {
  .filterButtonsDiv .__content {
    flex-direction: row;
  }
  .filterButtonsDiv .btn_small {
    width: 200px;
  }
  #headerButtons .btn_small {
    font-size: 1rem;
  }
}
