:root {
  --dark: #374151;
  --darker: #1f2937;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --header-size: 40px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Fira sans", sans-serif;
  font-size: 16px;
}

.darkTheme {
  color: rgb(163, 163, 163);
  background-color: rgb(43, 43, 43);
}

.content_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height: calc(100vh - var(--header-size));
}

/* FORM  START*/
.formTitle {
  font-size: 1.3rem;
  text-align: center;
  margin: 40px auto;
  position: relative;
  width: fit-content;
}
.formTitle::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 30%;
  height: 100%;
  border-bottom: solid var(--dark) 2px;
}
.formTitle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0%;
  width: 30%;
  height: 100%;
  border-bottom: solid var(--dark) 2px;
}
.darkTheme .formTitle::after {
  border-bottom: solid rgba(255, 255, 255, 0.402) 2px;
}
.darkTheme .formTitle::before {
  border-bottom: solid rgba(255, 255, 255, 0.402) 2px;
}
#formCreate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formCreate input {
  font-size: 1em;
  text-align: center;
}
#formCreate textarea {
  max-height: 400px;
  max-width: 80vw;
  min-height: 40px;
  min-width: 40vw;
  text-align: center;
}

.formInput {
  margin-top: 4px;
  padding: 6px;
}

/*FORM END*/

/* INFO */
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  background-color: var(--light);
  height: var(--header-size);
}
.darkTheme #info {
  color: var(--light);
  background-color: var(--dark);
}
#changeTheme {
  position: fixed;
  right: 0;
  border: solid red 2px;
}

.darkTheme #changeTheme {
  color: var(--light);
  background-color: var(--dark);
}
/* INFO */

/*loading*/

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2rem;
  transition: letter-spacing 2s, opacity 1s;
  opacity: 0;
  cursor: pointer;
  flex: 1 1 0%;
  text-indent: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    172deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(240, 240, 240, 1) 50%,
    rgba(251, 251, 251, 1) 100%
  );
  display: flex;
  height: 0;
  overflow: hidden;
}
#loading.isShow {
  opacity: 1;
  height: 100vh;
}

#loading.isShow {
  opacity: 1;
  height: 100vh;
}

#loading.loadingZoom {
  letter-spacing: 4rem;
  /*opacity: 0.5;*/
}
.dotdotDown {
  position: absolute;
  top: 40%;
}
.dotdotUp {
  position: absolute;
  bottom: 40%;
}

/*loading*/

/* task */

.task {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 10px;
}

.darkTheme .task {
  background-color: var(--dark);
}
.items {
  background-color: rgba(255, 255, 255, 0.8);
}

.darkTheme .items {
  background-color: rgba(27, 27, 27, 0.279);
  color: var(--light);
}
.item1 {
  grid-area: header;
  font-size: 1.5rem;
}
.item2 {
  grid-area: right;
}
.item3 {
  grid-area: main;
}

.task > div {
  text-align: center;
  padding: 20px 0;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
}
