@import "./animation.css";
@import "./global.css";
@import "./headerButtons.css";
@import "./tasks.css";
@import "./login.css";
@import "./info.css";
@import "./forms.css";
@import "./lottie.css";

:root {
  --main-button-dark: #07303e;
  --main-button-light: #fdfffd;
  --body-bg-dark: rgb(33, 36, 53);
  --body-bg-light: rgba(183, 183, 183, 0.521);
  --dark: #374151;
  --darker: #626568;
  --darkest: #111827;
  --gray: #6b7280;
  --light: #eee;
  --bg-light: rgb(167, 151, 151);
  --bg-dark: rgb(31, 41, 55);
  --color-light: white;
  --color-dark: black;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --header-size: 40px;
  --bg-base: #242424;
  --color-base: #e1e1e1;
  --color-success: #00f986;
  --color-danger: #f5530e;
  --color-warning: #f8c622;
  --border-color-dark: #202020;
  --border-color-light: #aeaeae;
  --hover-light: rgb(253, 253, 253);
  --hover-dark: rgba(16, 16, 16, 0.427);
  --color-input-light: rgba(246, 246, 246, 0.87);
  --color-input-dark: rgba(52, 51, 51, 0.87);
  --bg-input-dark: #374151;
}

* {
  box-sizing: border-box;
}

.success {
  background-color: var(--color-success);
}

.warning {
  background-color: var(--color-warning);
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Fira sans", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: var(--body-bg-light);
}

body.darktheme {
  background-color: var(--body-bg-dark);
}

input,
textarea,
button {
  font-size: inherit;
}

.container {
  max-width: 2800px;
  margin: auto;
  min-height: 100vh;
  position: relative;
  color: var(--color-base);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 2rem;
  transition: letter-spacing 2s, opacity 1s;
  opacity: 0;
  cursor: pointer;
  flex: 1 1 0%;
  text-indent: 2rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(172deg, rgba(2, 0, 36, 1) 0%, rgba(240, 240, 240, 1) 50%, rgba(251, 251, 251, 1) 100%);
  display: flex;
  height: 0;
  overflow: hidden;
}

#loading.is-show {
  opacity: 1;
  height: 100vh;
}

#loading.loading-zoom {
  letter-spacing: 4rem;
}

.dotdot-down {
  position: absolute;
  top: 40%;
}

.dotdot-up {
  position: absolute;
  bottom: 40%;
}

#login-form {
  transition: transform 0.2s linear;
}

@media only screen and (min-width: 600px) {
  body {
    font-size: 20px;
  }
}