#info {
  color: var(--color-dark);
}

.darkTheme #info {
  color: var(--color-light);
}

.offlineMode {
  color: rgba(255, 56, 1, 0.947);
}

.darkTheme .offlineMode {
  color: rgba(255, 74, 24, 0.71);
  text-shadow: rgb(12, 12, 12) 1px 1px 10px;
}

#info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--header-size);
  position: relative;
}

#changeTheme {
  position: absolute;
  right: 10px;
  height: 80%;
  padding: 0 10px;
  transition: all 0.2s linear;
  border-radius: 20px;
  border: solid 1px rgba(59, 59, 59, 0.774);
  width: 50px;
}

#changeTheme:hover {
  background-color: rgba(22, 22, 22, 0.769);
  color: white;
}

.darkTheme #changeTheme {
  color: var(--light);
  border: solid 1px rgba(115, 115, 115, 0.774);
}

.darkTheme #changeTheme:hover {
  background-color: rgba(255, 255, 255, 0.135);
  border: solid 1px rgba(220, 220, 220, 0.804);
}

.onlineMode {
  color: rgb(16, 228, 16);
  text-shadow: white 1px 1px 10px;
}
