#login {
  animation: fadeIn 2s linear 0s forwards;
  font-size: 1.1rem;
  display: flex;
  height: 100vh;
  background-color: var(--bg-base);
  flex-direction: column;
}

#login_wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loginForm input {
  margin: 4px 0;
  border-radius: 4px;
  border: none;
  padding: 4px;
}

#loginForm .buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btn_login {
  background-color: var(--light);
  color: var(--dark);
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 6px;
  border: outset rgba(255, 255, 255, 0.409);
  box-shadow: rgba(255, 255, 255, 0.427) 1px 1px 10px;
}

#info_login {
  text-align: center;
  margin: 10px 0;
  max-width: 60%;
}
