#tasks {
  padding: 10px;
}

.task {
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "complete title dueDate importance"
    "description description description description"
    "edit edit remove remove";
  gap: 2px;
  background-color: #26f3c0;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 10px;
  grid-template-rows: 40px 200px 40px;
  grid-template-columns: 25% 25% 25% auto;
}

.darkTheme .task {
  color: var(--light);
  /*background-color: var(--dark);*/
  background: #07303e;
  color: white;
  box-shadow: white 1px 1px 1px;
}

.task.completed {
  box-shadow: #00ff13 3px 3px 15px;
}

.task button {
  box-shadow: white 1px 1px 1px;
}

.task__title {
  grid-area: title;
  font-size: 1.5rem;
  text-align: center;
}
.task__description {
  grid-area: description;
  max-height: 200px;
  padding: 20px 0;
}
.task__importance {
  grid-area: importance;
}
.task__dueDate {
  grid-area: dueDate;
}
.task__complete {
  grid-area: complete;
}

.task__edit {
  grid-area: edit;
}
.task__remove {
  grid-area: remove;
}

.task > div {
  text-align: center;
}

.btn_task.completed {
  border: green 2px solid;
}

@media (min-width: 1200px) {
  #tasks {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */
  }
  .task {
    /* width: 45vw; */
  }
}
